/* artalk */
/* 评论区输入区域 */
.artalk {
    color: var(--qiyuan-card-backgroundtwo)!important;
}
.atk-main-editor {
    background: none!important;
    border: none !important;
    border-radius: none!important;
}
.atk-header {
    padding: 0 !important;
    gap: 16px !important;
}
.atk-main-editor>.atk-header input {
    border-color: var(--qiyuan-input)!important;
    padding: 10px 12px !important;
    border-radius: 12px;
}
.atk-textarea-wrap {
    border-color: var(--qiyuan-warp) !important;
    border-radius: 3px !important;
    margin-top: 1rem !important;
}

.atk-plug-panel-wrap {
    border-top: 0 !important;
}

.atk-editor-plug-preview {
    margin-top: 1rem;
    border-radius: 3px;
    padding: 10px 12px !important;
    background: var(--qiyuan-preview) !important;
}

.atk-bottom {
    padding: 10px 12px !important;
    background: var(--qiyuan-bottom) !important;
    margin-top: 1rem !important;
    border-radius: 3px !important;
}

/* 评论区内容 */
.atk-list-comments-wrap {
    gap: 1rem;
    display: grid;
}
.atk-comment {
    padding: 10px 20px;
    background: var(--qiyuan-card-backgroundtwo)!important;
    border-radius: 3px;
}
.atk-comment>.atk-main>.atk-body>.atk-content {
    background: var(--qiyuan-card-backgroundt)!important;
}